<h2>Now Voting</h2>
<ol class="list-unstyled">
  <li ng-repeat="beer in mc.DB.beers">
    <section class="panel panel-default">
      <header class="panel-heading">
        <rating class="pull-right" ng-model="mc.DB.myVotes[beer._id]" readonly="true"></rating>
        <h3 class="panel-title">{{ beer.name }}</h3>
        <div class="pull-right">{{beer.type}}</div>
        <p><small>{{ beer.brewery }}</small></p>
      </header>
      <div class="panel-body">
        <ol class="list-unstyled list-inline ratings-container">
          <li><span class="glyphicon glyphicon-star"></span>
            <ul class="list-unstyled">
              <li >
                <div class="photo" style="background-color: green;"><div>
              </li>
            </ul>
          </li>
          <li><span class="glyphicon glyphicon-star"></span></li>
          <li><span class="glyphicon glyphicon-star"></span>
            <ul class="list-unstyled">
              <li >
                <div class="photo" style="background-color: green;"><div>
              </li>
              <li >
                <div class="photo" style="background-color: green;"><div>
              </li>
              <li >
                <div class="photo" style="background-color: green;"><div>
              </li>
            </ul>
            
          </li>
          <li><span class="glyphicon glyphicon-star"></span></li>
          <li><span class="glyphicon glyphicon-star"></span></li>
        </ol>
      </div>
    </section>
  </li>
</ol>

<h2>Already Rated</h2>
<ol class="list-unstyled">
  <li><section></section></li>
</ol>
