<h2>Now Voting</h2>
<ol class="list-unstyled">
  <li ng-repeat="beer in mc.DB.beers | filter:{active:true} track by beer._id">
    <section class="panel panel-default">
      <header class="panel-heading">
        <span class="pull-right">Rating: {{beer.avg}}/5</span>
        <h3 class="panel-title">{{ beer.name }}</h3>
        <div class="pull-right">{{beer.type}}</div>
        <p><small>{{ beer.brewery }}</small></p>
      </header>
      <div class="panel-body">
        <!-- <button type="button" class="btn btn-large btn-primary btn-block"
                ng-click="mc.DB.submitVote1(beer)">
          Submit
        </button> -->
        <rating class="rating" ng-model="beer.myVote" ng-click="mc.DB.submitVote1(beer)"></rating>
        <ol class="list-unstyled list-inline ratings-container">
          <li ng-repeat="starCol in beer.votes track by $index">
            <ul class="list-unstyled">
              <li ng-repeat="voter in starCol" class="slideDown">
                <div class="photo" style="background-image: url({{mc.DB.users[voter].photo}})"><div>
              </li>
            </ul>
          </li>
        </ol>
      </div>
      <footer class="panel-footer">
        <p>{{beer.description}}</p>
      </footer>
    </section>
  </li>
</ol>

<h2>Already Rated</h2>
<li ng-repeat="beer in mc.DB.beers | filter:!{active:true} track by beer._id">
  <section class="panel panel-default">
    <header class="panel-heading">
      <span class="pull-right">Rating: {{beer.avg}}/5</span>
      <h3 class="panel-title">{{ beer.name }}</h3>
      <div class="pull-right">{{beer.type}}</div>
      <p><small>{{ beer.brewery }}</small></p>
    </header>
    <footer class="panel-footer">
      <p>{{beer.description}}</p>
    </footer>
  </section>
</li>
</ol>
